.App{
  text-align: center;
}

navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: black;
  color: whitesmoke;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}